@import url('/static/IBM_Plex_Sans.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: theme('colors.gunmetal');
		font-family: theme('fontFamily.IBM-Plex');
		font-weight: theme('fontWeight.light');
		letter-spacing: theme('letterSpacing.wider');
	}
	h1 {
		color: theme('colors.timberwolf');
		font-size: theme('fontSize.8xl');
		font-weight: theme('fontWeight.normal');
		letter-spacing: theme('letterSpacing.wider');
		line-height: theme('lineHeight.10');
	}
	h6 {
		color: theme('colors.french-beige');
		font-size: theme('fontSize.6xl');
	}
	p {
		color: theme('colors.timberwolf');
	}
}
